.navbar{
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
  background: #202020 !important;

  .container{
    max-width: 75% !important;
  }



  .navbar-item.is-active{
    color: #00f;
  }

  .navbar-dropdown{
    border-top: 2px solid #555;
  }

  .navbar-dropdown, .navbar-item{
    color: white !important;
    background: #202020 !important;
  }

  .navbar-item:hover{
    color: #ccc !important;
    background: #202020 !important;
  }
}

.custom-menu{
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
  background: #202020 !important;
}

.menu-title, .menu-title:hover{
  background: #202020 !important;
  color: #099 !important;
  font-weight: 500;
  margin-right: 20px;
}

.connectButton, .connectButton:hover, .connectButton:focus{
  font-weight: 700;
  font-size: 18px;
  // color: #777;
}

html, body{
  background-color: #303030;
  color: white;
  min-height: 100%;
}

.connectButton.green, .connectButton:hover.green, .connectButton:focus.green{
  color: #0b0;
  border: 1px solid #0b0;
}

.hr{
  border-top: 1px solid #ccc;
}

.red{
  color: #f00;
}
.green{
  color: #0b0;
}
.blue{
  color: #88f;
}

.address-input{
  width: 400px;
}

// warning 
.warning li{
  font-size: 18px;
}

.warning li:not(:last-child){
  margin-bottom: 4px;
}

.warning{
  border: 1px solid #cc0f35;
}


// pool list

.pool{
  background-color: #202020;
  padding: 20px;
  border-radius: 20px;

  color: white;
  font-weight: 500;

  animation: fade-in 1s linear;
}

.pool-index{
  color: #ccc;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 20px;
}


@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}


.pool-token-name{
  // display: inline-block;
  // min-width: 200px;
  padding-right: 20px;
}

.pool-token-amount{
  // display: inline-block;
  // min-width: 60px;
  padding-right: 20px;
  color: #d0d0ff;
}

.loading-button{
  background: rgba(0, 0, 0, 0);
  border: none;

}